<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<style>
    .is-borderless{
        border-bottom: 1px black solid !important;
        border-radius: 0;
    }

</style>
<section class="hero is-success is-halfheight">
    <div class="hero-body">
        <div class="">
            <p class="title">
                Finally a straight up url shortener
            </p>
            <div class="pt-3">
                <input id="data" class="input is-shadowless">
            </div>
            <div class="pt-3">
                <input id="result" class="input is-shadowless has-background-success is-borderless is-static" readonly>
            </div>
            <div class="pt-4">
                <button id="btn" class="button is-danger">Shorten!</button>
            </div>
        </div>
    </div>
</section>
<section>
<div class="">
        <h1 class="title">

    </h1>
</div>
</section>
<script>console.log('ok1')
    document.getElementById('btn').addEventListener('click', function () {
        console.log('ok2')
        fetchUrl(document.getElementById('data').value)
    })

    async function fetchUrl(url) {
        const response = await fetch('{% url 'add_url' %}' + '?url=' + url)
        const data = await response.json()

        document.getElementById('result').value = data['url'];

    }
</script>
</body>
</html>